{% extends 'base.html.twig' %}
{% block title %}Todos{% endblock %}
 {% block body %}
     <div class="container">
         <div class="row" style="margin-top:30px;">
             <div class="col" id="left_panel">
                 <div class="shadow-lg p-3 mb-5 bg-white rounded"  style="text-align: center; padding: 10px !important; margin: 5px !important;">
                     <h2>Todo list</h2>
                 </div>
                 <div id="todolist" style="overflow-y: auto;">
                 {% for task in todos %}
                     <div class="shadow-lg p-3 mb-5 bg-white rounded"
                          style="padding: 10px !important; margin: 5px !important;">
                         <div class="row" style="margin: 10px;">
                             <div class="col-md-8 col-lg-8">
                                 <div class="row">
                                     <a href="/task/{{ task.id }}"
                                        style="font-weight: bold; color: black; font-size: 20px;">{{ task.title }}</a>
                                 </div>
                                 <div class="row">
                                     <p>{{ task.content }}</p>
                                 </div>
                             </div>
                             <div class="col-md-4 col-lg-4" style="text-align: right">
                                 {% if task.status %}
                                     <a href="/task/delete/{{ task.id }}" class="btn btn-danger">Delete</a>
                                 {% else %}
                                     <a href="/task/done/{{ task.id }}" class="btn btn-success">Done</a>
                                 {% endif %}
                             </div>

                         </div>
                     </div>
                 {% endfor %}
                 </div>
             </div>


             <div class="col" id="right_panel">
                 <div class="shadow-lg p-3 mb-5 bg-white rounded"
                      style="padding: 10px !important; margin: 5px !important;">
                     <div style="text-align: center">
                         <h2>Add new task</h2>
                     </div>
                     {# app/Resources/views/default/new.html.twig #}

                     {{ form_start(form) }}

                     {{ form_widget(form) }}

                     {{ form_end(form) }}
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(()=>{
            $("#form_Title").val("");
            $("#form_Content").val("");
        })

    </script>
{% endblock %}